.bodis { 
 background-color: #cccccc;  
}
.tekstas {
	color: #2196f3;
	background-color: #dddddd;
	text-align: center;	
}
.konteineris {	
	position: relative;
}
.pav {
width: 100%;
}

.tekstas-foto {
  position: absolute;
  top: 50px;
  right: 500px;
  width: 400px;
  height: 150px;
  border: 3px solid #800080;
  color: #800080;
}
.tekstas-foto h4 {
text-align: center;
}
.tekstas-foto p {
text-align: center;
font-size: larger;
}
.gydunas {
text-align: center;
border-width:5px;  
border-style:dashed;
}
h6 {
	font-weight: bold;
	font-style: italic;
	text-align: center;	
}

.karusele{
	font-weight: bold;
	font-style: italic;
	font-size: x-large;
	text-align: center;	
}
.btn, .btn-large, .btn-small {    
    background-color: #ee6e73;
}

.zemelapis{
width: 100%;
}

.zinute{
	text-align: right;
}


.boldas{
	font-weight: bold;
}

.staciakampis{
	display: flex;
}

.mygtukas{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.fiksuotas{
	position: fixed;
	bottom: 0;
	left: 0;	
}

.zmogus{
	display:flex;
	justify-content: space-between;
	flex-direction: column;
}

.zmones{
	display: flex;
}

